body{
    background-color:black;
}
.v1{
    margin-left: 35%;
}

.v2{
    margin-left: 40%;

}
.intro{
    margin-left: 30%;
    font-family: 'Pacifico', cursive;
}
.footer{
    margin-left: 30%;
}
.color{
    color: white;
    margin-left: 18%;
}
.copyright{
    color: white;
}