body{
    background-color:black;
}
.v1{
    margin-left: 20%;
}
.v2{
margin-left: 20%;
}
.v3{
margin-left: 70%;

}
.v4{
margin-left: 90%;
margin-bottom: 38%;
}
.footer{
    margin-left: 30%;
}
.color{
    color: white;
    margin-left: 18%;
}