body{
    background-color:black;
}
.v1{
    margin-left: 35%;
}

.v2{
    margin-left: 40%;

}
.intro{
    margin-left: 30%;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
} 
.boder{
    border-style: solid;
    border-color: red;
    background-size: contain;
}
.image1{
    margin-left: 3%;
} 
.image2{
    margin-left: 24%;
    margin-top: -11.55%;
}
.image3{
    margin-left: 44%;
    margin-top: -11%;
}
.image4{
    margin-left: 62%;
    margin-top: -11%;
}
.image5{
    margin-left: 80%;
    margin-top: -11.5%;
}
.quote{
    margin-left: 30%;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    
}
.image6{
    margin-left: 30%;
}
.image7{
    margin-left: 55%;
    margin-top: -11%;
}
.footer{
    margin-left: 30%;
}
.color{
    color: white;
    margin-left: 18%;
}
.copyright{
    color: white;
}